.header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    &_logo {

    }

    &_nav {
        display: flex;
        gap: $gap;

        &_li {
            list-style-type: none;
        }
    }
}